# 🐍 Python cache files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# 📓 Jupyter Notebook checkpoints
.ipynb_checkpoints/

# 🧪 Virtual environments
venv/
env/
ENV/
.venv/

# 📦 Distribution / build files
build/
dist/
*.egg-info/

# 🖥 OS files
.DS_Store
Thumbs.db


# 🔒 Secrets / configs
.env

# 📈 matplotlib cache
.matplotlib/

# 🧠 VS Code settings 
.vscode/